<div ng-controller="BetCtrl" data-ng-init="init()">

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Language: {{languages[cur_lang]}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="(code, lang) in languages"><a href="#" ng-click="changeLang(code)">{{lang}}</a></li>
    </ul>
  </div>

  <!-- <button ng-click="loadSports()">Reload Sports</button> -->
  <div class="row">
    <div class="col-md-4 fixed-height">
      <h4>Sports</h4>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="sport in sports | orderBy: 'pos'" ng-click="loadEvents(sport.id)" ng-class="{active: sport.id == current_sport}">
          <a href="javascript:void(0);">
            {{sport.title}}
            <span class="badge">{{sport.events_count}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 fixed-height events-block">
      <h4>Events</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="event in events | orderBy: 'pos'" ng-click="loadOutcomes(current_sport, event.id)" ng-class="{active: event.id == current_event}">
          <a href="javascript:void(0);">
            {{event.title}}
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 fixed-height">
      <h4>Outcomes</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="outcome in outcomes | orderBy: 'pos'">
          {{outcome.description}}
          <span class="price">{{outcome.price}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
