.container {
  margin-top: 20px;
}
.nav-pills li .badge {
  float: right;
}
.fixed-height {
  max-height: 100%;
  overflow-y: auto;
}
.fixed-height h4 {
  text-align: center;
  margin-bottom: 20px;
}
.events-block li.active a {
  color: #fff;
}
li .price {
  font-weight: bold;
  float: right;
}
.dropdown {
  margin-bottom: 20px;
}